ul,
li {
  list-style: none;
}

.login-nav-bar .navbar {
  background-color: #cccbcb;
}

.register {
  padding-top: 100px;
}

.register-form {
  margin: 50px auto;
  text-align: center;
  width: 500px;
  height: 400px;
  background-color: #cccbcb;
  padding: 30px;
}

.login-body {
  width: 800px;
  height: 700px;
  margin-top: 100px;
  text-align: center;
  margin: 0px auto 20px;
}

.login-card {
  padding-top: 150px;
  display: flex;
  height: 550px;
}

.login-form {
  width: 420px;
  padding: 100px 10px;
  background-color: #cccbcb;
}

.login-form button {
  margin: 50px 0;
}

.login-img {
  width: 380px;
  height: 100%;
}

.form {
  clear: both;
  /* border: solid 2px gray; */
  height: 40px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.form-input {
  font-size: 20px;
  /* border: solid 2px rgb(236, 178, 70); */
  /* background-color: #faf8f8; */
}
