{% extends 'base.html' %} {% block content %}
<div>
  {% include "includes/includes_navbar.html" %} {% include "nav.html" %}
</div>
<div
  class="buscket-form"
  action="{% url 'myapp:buscket_create' tour_pk=tour_pk %}"
>
  <h2>{{ tour_name }}</h2>
  <div class="buscket-form-left">
    <form method="post">
      {% csrf_token %}
      <div class="form-datetime">
        <div>
          <div class="form-label">Дата:</div>
          <div>{{ form.date }}</div>
        </div>
        <div>
          <div class="form-label">{{ form.time.label_tag }}</div>
          <div>{{ form.time }}</div>
        </div>
      </div>
      <div class="form-person-quantity">
        <div>
          <div class="form-label">{{ form.person_quantity.label_tag }}</div>
          <div>{{ form.person_quantity }}</div>
        </div>
      </div>

      <input class="input-button" type="submit" value="Оформить заказ" />
    </form>
  </div>
  <div class="buscket-form-right"></div>
</div>
<footer>{% include "footer.html" %}</footer>
{% endblock %}
