{% load static %}

<div class="footer">
  <div class="footer-logo">
    <img src="{% static 'myapp/logo/logo1.png' %}" alt="logo" />
  </div>

  <table>
    <tr>
      <th>Компания</th>
      <th>Контакты</th>
      <th>Дополнительно</th>
    </tr>
    <tr>
      <td><a href="{% url 'myapp:home' %}">Главная</a></td>
      <td><a href="{% url 'myapp:contacts' %}">Помощь</a></td>
      <td><a href="{% url 'users:register' %}">Регистрация</a></td>
    </tr>
    <tr>
      <td><a href="{% url 'myapp:about' %}">О нас</a></td>
      <td><a href="{% url 'myapp:contacts' %}">FAQ</a></td>
      <td><a href="{% url 'users:login' %}">Вход</a></td>
    </tr>
    <tr>
      <td><a href="{% url 'myapp:tours' %}">Туры</a></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="#">Ваучеры</a></td>
      <td></td>
      <td></td>
    </tr>
  </table>

  <div class="footer-img">
    <img src="{% static 'myapp/images/main/footer.png' %}" alt="footer" />
  </div>
</div>
