{% load static %}

<div class="footer">
  <div class="footer-logo">
    <img src="{% static 'myapp/logo/logo1.png' %}" alt="logo" />
  </div>

  <table>
    <tr>
      <th>Компания</th>
      <th>Контакты</th>
      <th>Дополнительно</th>
    </tr>
    <tr>
      <td>Главная</td>
      <td>Помощь</td>
      <td>Регистрация</td>
    </tr>
    <tr>
      <td>О нас</td>
      <td>FAQ</td>
      <td>Вход</td>
    </tr>
    <tr>
      <td>Туры</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Ваучеры</td>
      <td></td>
      <td></td>
    </tr>
  </table>

  <div class="footer-img">
    <img src="{% static 'myapp/images/main/footer.png' %}" alt="footer" />
  </div>
</div>
