{% load static %}

<div class="header">
  <div>
    <p class="main-small-text">Открой для себя WOW</p>
    <h1 class="main-big-text">ЧЕХИЮ</h1>
  </div>

  <div class="nav-bottom">
    {% if request.path == "/myapp/home/" %} ГЛАВНАЯ {% endif %}
    <div>{% if request.path == "/myapp/tours/" %} ТУРЫ {% endif %}</div>
    <div>{% if request.path == "/myapp/services/" %} УСЛУГИ {% endif %}</div>
    <div></div>
    <div>{% if request.path == "/myapp/about/" %} О НАС {% endif %}</div>
  </div>
</div>
{% comment %} {% include "login.html" %} {% endcomment %}
<script></script>
