{% extends 'base.html' %} {% block content %}

<div class="big-buttons">
  <h3>ИНДИВИДУАЛЬНЫЕ ЭКСКУРСИИ</h3>

  <a href="{% url 'myapp:group_tour_list' %}">
    <button class="big-button">ГРУППОВЫЕ ЭКСКУРСИИ</button>
  </a>
</div>

<div class="middle-buttons-block">
  <a href="{% url 'myapp:private_tour_list' %}">
    <button class="button-active middle-button">
      ИНДИВИДУАЛЬНЫЕ ЭКСКУРСИИ ПО ПРАГЕ
    </button>
  </a>
  <a href="{% url 'myapp:private_tour_czech' %}">
    <button class="middle-button">ИНДИВИДУАЛЬНЫЕ ЭКСКУРСИИ ПО ЧЕХИИ</button>
  </a>
  <a href="{% url 'myapp:private_tour_europe' %}">
    <button class="middle-button">ИНДИВИДУАЛЬНЫЕ ЭКСКУРСИИ ПО ЕВРОПЕ</button>
  </a>
</div>
<div>
  <div class="cards">
    {% for obj in private_tours %} {% if obj in tour_type_praha %}

    <div>{% include "includes/include_cards.html" %}</div>
    {% endif %} {% endfor %}
  </div>
</div>
{% endblock %}
