{% extends 'base.html' %} {% load static %} {% block content %}
<div class="nav-menu-profile">
  {% include "includes/includes_navbar.html" %}{% include "nav.html" %}
</div>
{% if order %}
<table>
  <tr>
    <th>Typ</th>
    <th>Дата</th>
    <th>Время</th>
    <th>Количество человек</th>
    <th>Цена</th>
    <th>Сумма</th>
  </tr>

  {% for obj in order %}
  <tr class="buscket-list">
    <td>{{obj.tour.name}}</td>
    <td>{{obj.date|date:'Y-m-d' }}</td>
    <td>{{obj.time}}</td>
    <td>{{obj.person_quantity}}</td>
    <td>{{obj.tour.adult_price}}</td>

    <td>{{obj.get_summ}}</td>
  </tr>

  {% endfor %}

  <tr class="buscket-list">
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>Итого</td>
    <td>{{order.total_summ}}</td>
    <td></td>
  </tr>
</table>
<br />

<br />
{% else %}
<h3>У Вас нету заказов</h3>
{% endif %}
<footer>{% include "footer.html" %}</footer>
{% endblock %}
