{% load static %}
<div class="block-popular-cities">
  <h1>Наши самые популярные города</h1>
  <ul>
    <li>
      <div class="picture">
        <img
          src="{% static 'myapp/images/popular_cities/Olomouc.png' %}"
          alt="Olomouc"
        />
      </div>
      <div class="text"><h1>Оломоуц</h1></div>
    </li>
    <li>
      <div class="picture">
        <img
          src="{% static 'myapp/images/popular_cities/CzeskeBud.png' %}"
          alt="CzeskeBud"
        />
      </div>
      <div class="text"><h1>Ческе Будеёвице</h1></div>
    </li>
    <li>
      <div class="picture">
        <img
          src="{% static 'myapp/images/popular_cities/Telic.png' %}"
          alt="Telic"
        />
      </div>
      <div class="text-small"><h1>Тельч</h1></div>
    </li>
    <li>
      <div class="picture">
        <img
          src="{% static 'myapp/images/popular_cities/KutnaHora.png' %}"
          alt="KutnaHora"
        />
      </div>
      <div class="text-small"><h1>Кутна Гора</h1></div>
    </li>
    <li>
      <div class="picture">
        <img
          src="{% static 'myapp/images/popular_cities/MarianskeLazne.png' %}"
          alt="MarianskeLazne"
        />
      </div>
      <div class="text-small"><h1>Марианске-Лазне</h1></div>
    </li>
  </ul>
</div>
