{% load static %}

<div class="services-container">
  <div class="main-block">
    <div class="top">
      <div class="top-corners">
        <img src="{% static 'myapp/images/main/TopLeftCorner.png' %}" alt="" />
        <img src="{% static 'myapp/images/main/TopRightCorner.png' %}" alt="" />
      </div>
    </div>

    <div class="services-all">
      <div class="service">
        <img src="{% static 'myapp/images/main/Antenne.png' %}" alt="antenne" />
        <h4>Расчетная погода</h4>
        <p>Мы предусматриваем погоду что бы Вы чувствовали себя комфортнее</p>
      </div>
      <div class="service">
        <img src="{% static 'myapp/images/main/bus.png' %}" alt="bus" />
        <h4>Лучший транспорт</h4>
        <p>Наша компания предоставляет комфортные условия</p>
      </div>
      <div class="service">
        <img
          src="{% static 'myapp/images/main/Microphone.png' %}"
          alt="microphone"
        />
        <h4>Местные события</h4>
        <p>Мы покажем вас самые популярные и актуальные места</p>
      </div>
      <div class="service">
        <img src="{% static 'myapp/images/main/Mobile.png' %}" alt="mobile" />
        <h4>С Вами на связи</h4>
        <p>Мы работаем 24/7 и всегда рады Вам помочь</p>
      </div>
    </div>
    <div class="bottom">
      <div class="bottom-corners">
        <img
          src="{% static 'myapp/images/main/BottomLeftCorner.png' %}"
          alt=""
        />
        <img
          src="{% static 'myapp/images/main/BottomRightCorner.png' %}"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
