{% load static %}

<div class="navbar">
  <div class="drop-menu">
    <ul> 
      <li><a href="#">Меню</a>
        <ul>
          <li>
            <a href="{% url 'myapp:home' %}">Главная</a>
          </li>
          <li>
            <a href="{% url 'myapp:tours' %}">Туры</a>
          </li>
          <li>
            <a href="{% url 'myapp:services' %}">Услуги</a>
          </li>
          <li>
            <a href="{% url 'myapp:about' %}">О нас</a>
          </li>
          <li>
            <a href="{% url 'myapp:contacts' %}">Контакты</a>
          </li>
        </ul>
      </li>
        
    </ul>       
  </div>
  <div class="nav-inner">
    <div>
      <a href="{% url 'myapp:home' %}"
        ><img class="logo" src="{% static 'myapp/logo/logo1.png' %}" alt="logo"
      /></a>
    </div>
    

    <div class="nav_menu">
      <div class="nav-menu-main">
        <ul>
          
          <li>
            <a
              href="{% url 'myapp:home' %}"
              class="{% if request.path == '/myapp/home/' %}active{% endif %}"
              >Главная</a
            >
          </li>
          <li>
            <a
              href="{% url 'myapp:tours' %}"
              class="{% if request.path == '/myapp/tours/' %}active{% endif %}"
              >Туры</a
            >
          </li>
          <li>
            <a
              href="{% url 'myapp:services' %}"
              class="{% if request.path == '/myapp/services/' %}active{% endif %}"
              >Услуги</a
            >
          </li>
          <li>
            <a
              href="{% url 'myapp:about' %}"
              class="{% if request.path == '/myapp/about/' %}active{% endif %}"
              >О нас</a
            >
          </li>
          <li>
            <a
              href="{% url 'myapp:contacts' %}"
              class="{% if request.path == '/myapp/contacts/' %}active{% endif %}"
              >Контакты</a
            >
          </li>

    </div>
   
      <div class="nav-buscket">
        <a
          href="{% if request.user.is_authenticated %} {% url 'myapp:buscket' %} {% else %} {% url 'users:login' %} {% endif %}"
          class="{% if request.path == '/myapp/buscket/' %}active{% endif %}"
        >
          Корзина
        </a>
        {% if user.is_authenticated %}
        <span class="buscket-quantity">{{buscket.total_quantity}}</span>
        {% endif %}
      </div>
    </ul>
      <ul class="nav-menu-login">
        {% if user.is_authenticated %}
        <li>
          <form method="post" action="{% url 'users:logout' %}">
            {% csrf_token %}
            <button type="submit">Выйти</button>
            <a href="{% if request.user.is_authenticated %} {% url 'myapp:profile' %} {% else %} {% url 'users:login' %} {% endif %}"
            class="{% if request.path == '/myapp/profile/' %}active{% endif %}">{{user}}</a>
          </form>
        </li>
        {% else %}
        <li><a href="{% url 'users:login' %}"> Войти </a></li>
        <li><a href="{% url 'users:register' %}"> Регистрация </a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
