{% extends 'myapp/base.html' %} {% load static %} {% block content %}
<div class="login-nav-bar">{% include "includes/includes_navbar.html" %}</div>
<div class="login-body">
  <div class="login-card">
    <div class="login-form">
      <h3>АВТОРИЗАЦИЯ</h3>
      <form method="post">
        {% csrf_token %}
        <div class="input-error">{{ form.non_field_errors }}</div>
        {% for f in form %}
        <div class="form">
          <div>
            <label class="form-label" for="{{ f.id_for_label }}">
              {{ f.label }}
            </label>
          </div>
          <div>{{ f }}</div>
        </div>
        <div class="input-error">{{ f.errors }}</div>
        {% endfor %}
        <button type="submit">ВОЙТИ</button>
        {% comment %} <input type="submit" value="ВОЙТИ" /> {% endcomment %}
      </form>
      <div class="login-register-button">
        <a href="{% url 'users:register' %}">ЗАРЕГИСТРИРОВАТСЯ</a>
      </div>
    </div>
    <div>
      <img
        class="login-img"
        src="{% static 'myapp/images/main/loginimg.png' %}"
        alt="img"
      />
    </div>
  </div>
</div>
<footer>{% include "footer.html" %}</footer>
{% endblock %}
